
/*COLOCANDO COR DE FUNDO NO CABEÇALHO*/
header {
    background-color: #332C26; /*cor de fundo do cabeçalho */
    font-family: poppins, sans-serif;/*fonte do cabeçalho */
    color: #FFFFFF; /*cor do texto do cabeçalho */
}
nav a{
    color: #FFFFFF; /*COR DO TEXTO DO MENU DE NAVEGAÇÃO */
    text-decoration: none; /*REMOVE O SUBLINHADO DOS LINKS */
    margin: 0 10px; /*ESPACAMENTO ENTRE OS LINKS */  
    
}
nav{
text-align: center; /*ALINHAMENTO DO TEXTO DOS LINKS */
border-color: #FFFFFF; /*COR DA BORDA DO MENU DE NAVEGAÇÃO */
border-width: 1px; /*LARGURA DA BORDA DO MENU DE NAVEGAÇÃO */
border-style: solid; /*ESTILO DA BORDA DO MENU DE NAVEGAÇÃO */
height: 30px; /*ALTURA DO MENU DE NAVEGAÇÃO */

padding-top: 10px; /*DISTANCIA ENTRE O TEXTO DOS LINKS E A BORDA SUPERIOR DO MENU DE NAVEGAÇÃO */
}

.logo img{
    height: 80px; /*ALTURA DA LOGO */
    width: 80px; /*LARGURA DA IMAGEM */
}
/*CONFIGURANDO A CAIXA DE PESQUISA*/
.caixa-pesquisa input{
    padding: 10px; /*DISTANCIA ENTRE AS BORDAS DO CAMPO DE PESQUISA */
    border: 1px solid #ccc; /*BORDA DO CAMPO DE PESQUISA */
    border-radius: 10px; /*ARRENDAMENTO DAS BORDAS DO CAMPO DE PESQUISA */
    font-family: poppins, sans-serif; /*FONTE DO CAMPO DE PESQUISA */
    width: 300px; /*LARGURA DO CAMPO DE PESQUISA */
    height: auto; /*ALTURA DO CAMPO DE PESQUISA */
    padding-left: 50px;
}
/*CONFIGURANDO A DIV DA PESQUISA*/
.caixa-pesquisa{
    display: flex; /*EXIBE OS ELEMENTOS EM LINHA */
    justify-content: center; /*ALINHAMENTO HORIZONTAL DOS ELEMENTOS */
    margin-top: 10px; /*MARGEM SUPERIOR DA CAIXA DE PESQUISA */
    margin-bottom: 10px; /*MARGEM INFERIOR DA CAIXA DE PESQUISA */
    position: relative; /*POSIÇÃO RELATIVA PARA POSICIONAR O ICONE DE PESQUISA */
}

/*ALINHAR AS DIVS DO CABEÇALHO*/
.topo {
    display: flex; /*EXIBE OS ELEMENTOS EM LINHA */
    align-items: center; /*ALINHAMENTO VERTICAL DOS ELEMENTOS */
    justify-content: space-between; 
    /*DISTRIBUIÇÃO DOS ELEMENTOS COM ESPAÇO ENTRE ELES */
   
}

/*CONFIGURANDO OS ICONES*/
.caixa-pesquisa img{
    height: 20px; /*ALTURA DO ICONE DE PESQUISA */
    width: 20px; /*LARGURA DO ICONE DE PESQUISA */
    position: absolute; /*POSIÇÃO ABSOLUTA PARA POSICIONAR O ICONE DE PESQUISA */
    left: 10px; /*DISTANCIA DO ICONE DE PESQUISA DA BORDA ESQUERDA DO CAMPO DE PESQUISA */
    top: 50%; /*ALINHAMENTO VERTICAL DO ICONE DE PESQUISA */
    transform: translateY(-50%); /*CENTRA O ICONE DE PESQUISA VERTICALMENTE */
}
.caixa-pesquisa placeholder{
    padding-left: 30px; 
    /*DISTANCIA ENTRE O TEXTO DO PLACEHOLDER E O ICONE DE PESQUISA */
}

.icones a img{
    height: 30px; /*ALTURA DOS ICONES DE USUÁRIO E CARRINHO */
    width: 30px; /*LARGURA DOS ICONES DE USUÁRIO E CARRINHO */
    margin-right: 20px; 
    /*DISTANCIA ENTRE OS ICONES DE USUÁRIO E CARRINHO AO LADO DIREITO */
    grid-row: 1 / 3; /*OCUPA AS DUAS LINHAS DA GRADE PARA ALINHAR OS ICONES DE USUÁRIO E CARRINHO VERTICALMENTE */

 
}

/*CONFIGURANDO O TEXTO DOS ICONES DE USUÁRIO E CARRINHO*/
.icones a SMALL{
    font-size: 10px; /*TAMANHO DA FONTE DO TEXTO PEQUENO */
    display: block; /*EXIBE O TEXTO EM UMA NOVA LINHA */
    color: #FFFFFF; /*COR DO TEXTO PEQUENO */
    grid-column: 2; /*OCUPA A COLUNA AUTOMATICAMENTE PARA ALINHAR O TEXTO DOS ICONES DE USUÁRIO E CARRINHO AO LADO DIREITO */
    grid-row: 2; /*OCUPA A PRIMEIRA LINHA DA GRADE PARA ALINHAR O TEXTO DOS ICONES DE USUÁRIO E CARRINHO VERTICALMENTE */ 
     margin:0; /*REMOVE A MARGEM PADRÃO DO ELEMENTO SMALL */
}
.icones a p{
    font-size: 12px; /*TAMANHO DA FONTE DO TEXTO GRANDE */
    display: block; /*EXIBE O TEXTO EM UMA NOVA LINHA */
    color: #FFFFFF; /*COR DO TEXTO GRANDE */  
   
}
.icones a{
    text-decoration: none; /*REMOVE O SUBLINHADO DOS LINKS */
    display:grid; /*EXIBE OS ELEMENTOS EM LINHA */
    grid-template-columns: 40px auto;
    grid-template-rows: auto auto;
    margin-right: 20px; /*DISTANCIA ENTRE OS ICONES DE USUÁRIO E CARRINHO AO LADO DIREITO */
}
/*configurando a div icones*/
.icones{
    display: flex;/*EXIBE OS ELEMENTOS EM LINHA */
    align-items: center;/*ALINHAMENTO VERTICAL DOS ELEMENTOS */
    gap: 30px;/*DISTANCIA ENTRE OS ELEMENTOS */

}
/*CONFIGURANDO a area de banner*/
.imagens-banner img{
     max-width: 100%;/*GARANTE QUE AS IMAGENS DO BANNER SEJAM RESPONSIVAS E SE AJUSTEM AO TAMANHO DO CONTÊINER */

}
.banner{
    display:flex;/*EXIBE OS ELEMENTOS EM LINHA */
    justify-content:space-between;/*DISTRIBUIÇÃO DOS ELEMENTOS COM ESPAÇO ENTRE ELES */
    align-items:center; /*ALINHAMENTO VERTICAL DOS ELEMENTOS */
    
}
/*CONFIGURANDO A AREA DE OFEFRTAS*/
.ofertas{
    padding: 20px; /*DISTANCIA ENTRE O CONTEÚDO DA DIV DE OFERTAS E AS BORDAS DA DIV */
}

/*CONFIGURANDO O TEXTO DAS OFERTAS*/
.titulo-ofertas{
    font-family: poppins, sans-serif; /*FONTE DO TEXTO DAS OFERTAS */
    display : grid; /*EXIBE OS ELEMENTOS EM grade */
    grid-template-columns:  2 80% 20%; /*DEFINE O TAMANHO DAS COlUNAS DA GRADE */
    grid-template-rows: 2 50% 50%; /*DEFINE O TAMANHO DAS LINHAS DA GRADE */
}
.titulo-ofertas h2{
    color:  #0df505; /*COR DO TEXTO DO TITULO DAS OFERTAS */
    font-size: 24px; /*TAMANHO DA FONTE DO TITULO DAS OFERTAS */
    grid-column: 1; /*OCUPA A PRIMEIRA COLUNA DA GRADE */
    grid-row:1; /*OCUPA A PRIMEIRA LINHA DA GRADE */
    margin: 0; /*REMOVE A MARGEM PADRÃO DO ELEMENTO H2 */
}
.titulo-ofertas p{
    color:#0df505; /*COR DO TEXTO DO SUBTITULO DAS OFERTAS */
    font-size: 14px; /*TAMANHO DA FONTE DO SUBTITULO DAS OFERTAS */
    grid-column: 1; /*OCUPA A PRIMEIRA COLUNA DA GRADE */
    grid-row: 2; /*OCUPA A SEGUNDA LINHA DA GRADE */
}
.titulo-ofertas a{
    text-decoration: none; /*REMOVE O SUBLINHADO DO LINK */
    color: #0df505; /*COR DO TEXTO DO LINK */
    font-size: 14px; /*TAMANHO DA FONTE DO LINK */
    grid-column: 2; /*OCUPA A SEGUNDA COLUNA DA GRADE */
    grid-row: 2; /*OCUPA A SEGUNDA LINHA DA GRADE */
    align-self: center; /*ALINHAMENTO VERTICAL DO LINK NA GRADE */
    padding-left:80%;
}
.lista-produtos{
    display: flex; /*EXIBE OS ELEMENTOS EM LINHA */
    gap: 20px; /*DISTANCIA ENTRE OS ELEMENTOS */
    justify-content: space-between; /*DISTRIBUIÇÃO DOS ELEMENTOS COM ESPAÇO ENTRE ELES */
    font-family: poppins, sans-serif; /*FONTE DOS PRODUTOS */
    margin-top: 20px; /*MARGEM SUPERIOR DA LISTA DE PRODUTOS */
}
.card-produto{
    width: 10%; /*LARGURA DE CADA CARD DE PRODUTO */
    height: 50%; /*ALTURA DE CADA CARD DE PRODUTO */
    background-color: #f9fcfc; /*COR DE FUNDO DE CADA CARD DE PRODUTO */
    border: 1px solid #ccc; /*BORDA DE CADA CARD DE PRODUTO */
    border-radius: 10px; /*ARREDONDAMENTO DAS BORDAS DE CADA CARD DE PRODUTO */
    padding: 10px; /*DISTANCIA ENTRE O CONTEÚDO DE CADA CARD DE PRODUTO E AS BORDAS DO CARD */
    text-align: center; /*ALINHAMENTO DO TEXTO DE CADA CARD DE PRODUTO */
}  
.card-produto img{
    width: 100%; /*LARGURA DA IMAGEM DE CADA CARD DE PRODUTO */
    height: auto; /*ALTURA DA IMAGEM DE CADA CARD DE PRODUTO */
    margin-bottom: 10px; /*MARGEM INFERIOR DA IMAGEM DE CADA CARD DE PRODUTO */
    border-radius: 10px; /*ARREDONDAMENTO DAS BORDAS DA IMAGEM DE CADA CARD DE PRODUTO */ 
   
}.imagem-botao{
    position: relative; /*POSIÇÃO RELATIVA PARA POSICIONAR O BOTÃO DE FAVORITAR */
}
.favorito{
    position: absolute; /*POSIÇÃO ABSOLUTA PARA POSICIONAR O BOTÃO DE FAVORITAR */
    border: none;
    border-radius: 50%; /*ARREDONDAMENTO COMPLETO DO BOTÃO DE FAVORITAR */
    background-color:#0df505;
    top: 10px; /*DISTANCIA DO BOTÃO DE FAVORITAR DA BORDA SUPERIOR DA IMAGEM DO PRODUTO */
    right: 10px; /*DISTANCIA DO BOTÃO DE FAVORITAR DA BORDA DIREITA DA IMAGEM DO PRODUTO */
    padding: 5px; /*DISTANCIA ENTRE O CONTEÚDO DO BOTÃO DE FAVORITAR E AS BORDAS DO BOTÃO */
}